# Compiled source #
###################
*.obj
*.d
*.gcno
*.o

# Packages #
############
*.rpm
*.sdp
*.tar.gz
*.tgz
*.bin
*.exe
*.tar
*.zip
*.jar

#cfet_cnz
cfet_cnz/cfet_cxc/doc/
cfet_cnz/cfet_cxc/bin/cfeted
cfet_cnz/cfet_cxc/bin/.debug/cfeted_dbg

#clh_cnz
clh_cnz/clh_stubs/acs_apgcc/Release/libacs_apgcc.so
clh_cnz/clh_stubs/acs_csapi/Release/libacs_csapi.so
clh_cnz/clh_stubs/acs_aeh/Release/libacs_aeh.so
clh_cnz/clh_stubs/acs_apbm/Release/libacs_apbm.so
clh_cnz/clh_stubs/acs_tra/Release/libacs_tra.so
clh_cnz/clhbin_cxc/doc/
clh_cnz/clhbin_cxc/bin/.debug/clhls_dbg
clh_cnz/clhbin_cxc/bin/.debug/clhtran_dbg
clh_cnz/clhbin_cxc/bin/.debug/pes_clhd_dbg
clh_cnz/clhbin_cxc/bin/.debug/rpls_dbg
clh_cnz/clhbin_cxc/bin/.debug/rptran_dbg
clh_cnz/clhbin_cxc/bin/.debug/sells_dbg
clh_cnz/clhbin_cxc/bin/.debug/seltran_dbg
clh_cnz/clhbin_cxc/bin/clhls
clh_cnz/clhbin_cxc/bin/clhtran
clh_cnz/clhbin_cxc/bin/lib_ext/.debug/libpes_clhapi.so.1.1.0_dbg
clh_cnz/clhbin_cxc/bin/lib_ext/.debug/libpes_clhapi.so.1.1.1_dbg
clh_cnz/clhbin_cxc/bin/lib_ext/libpes_clhapi.so.1.1.1
clh_cnz/clhbin_cxc/bin/lib_int/.debug/libpes_clh.so_dbg
clh_cnz/clhbin_cxc/bin/lib_int/libpes_clh.so
clh_cnz/clhbin_cxc/bin/pes_clhd
clh_cnz/clhbin_cxc/bin/rpls
clh_cnz/clhbin_cxc/bin/rptran
clh_cnz/clhbin_cxc/bin/sells
clh_cnz/clhbin_cxc/bin/seltran

### END ### --->
